@mixin bp($point) {
  @if $point == l {
    @media (min-width: 65rem) { @content; }
  }
  @else if $point == m {
    @media (min-width: 45rem) { @content; }
  }
  @else if $point == s {
    @media (min-width: 35rem)  { @content; }
  }
}

$black: rgb(33,32,30);
$darkgray: rgb(123,122,120);
$gray: rgb(183,182,180);
$lightgray: rgb(233,232,230);
$blue: #2072FF;
$green: #00A162;
$sans: "Suisse Int'l";
$mono: "Suisse Int'l Mono";

$fast: 230ms;