.btn {
    font-size: calc(.9rem + 2vw);
    text-decoration: underline;
    color: $black;
    display: inline-block;
    margin-bottom: 1rem;

    &:hover, &:focus {
        color: $black;
        background: lighten($lightgray, 11);
    }
}