.card {
	margin-bottom: 1rem;
	display: inline-block;
	font-size: .9rem;
	letter-spacing: .02em;
	position: relative;
}

.card-chip {
	@extend .chip;
	position: absolute;
	top: .5rem;
	left: .5rem;
	font-size: .7rem;
	z-index: 100;
}

.card-content {
	padding-top: .5rem;
}

.card-title {
	font-weight: 400;
	margin-bottom: -.1rem;
	a {
		text-decoration: none;
		color: inherit;
	}
}

.card-id {
	position: absolute;
	top: .5rem;
	left: .5rem;
	letter-spacing: .05em;
	font-size: .8rem;
	mix-blend-mode: multiply;
	color: $black;
}

.card-image {
	width: 100%;
	margin-bottom: -.4rem;
	transition: $fast;
	&:hover, &:focus {
		opacity: .8;
	}
}

.card-description {
	color: $gray;
}