html {
  background: #fff;
}
.home {
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.home-hero {
  flex-wrap: wrap;
  padding: 2rem;
  text-align: left;
  @include bp(m) {
    height: 100vh;
    position: relative;
    padding: 6%;
  }
}

.home-search {
  margin-bottom: 1rem;
}

.home-image {
  width: 100%;
  @include bp(m){
   position: fixed;
   z-index: -100;
   top: 0;
   right: 0;
   width: auto;
   height: 100%;
  }
}

.home-copy {
  font-size: calc(1.1rem + 2.5vw);
  line-height: 1.2;
  color: #00A162;
  mix-blend-mode: multiply;
  p {
    text-indent: 1em;
  }
  em {
    margin-right: .5rem;
  }
  a {
    color: #00A162;
  }
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  em {
    display: block;
    font-style: normal;
    color: rgba($black, .5);
  }
  @include bp(m) {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.home-image-caption {
    padding: 0;
    position: absolute;
    bottom: 5%;
    left: 5%;
  font-size: .9rem;
  a {
    text-decoration: none;
  }
  span {
    color: $gray;
    &.above {
      @include bp(m){
        display: none;
      }
    }
    &.right {
      display: none;
      @include bp(m){
        display: block;
      }
    }
  }
}


.search-input {
  border: 1px solid $lightgray;
  padding: 0.5rem 0.6rem;
  font-size: 2rem;
  border-radius: 4px;
  margin-top: 2rem;
  font-family: $sans;
  line-height: 1;
  width: 80%;
  @include bp(m) {
    width: 60%;
  }
  &:focus {
    outline: none;
    border-color: $blue;
  }
}