body {
    font-family: "Suisse Int'l";
    color: $black;
}

a {
    color: $black;
    &:hover,
    &:focus {
        color: rgba($black, .7)
    }
}

.site-header {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-flow: column;
    border-bottom: 1px solid $black;
    @include bp(m) {
        padding-right: 1rem;
        padding-left: 1rem;
        height: 3rem;
        flex-flow: row;
    }
}

.site-title {
    text-decoration: none;
    color: $black;
    font-weight: 400;
    display: block;
    padding-top: .6rem;
    padding-left: 1rem;
    @include bp(m) {
        padding-left: 0;
    }
}

.site-footer {
    font-size: .9rem;
    padding: 1rem;
    .home & {
        opacity: .5;
        
        position: absolute;
        bottom: 0;
    }
    a {
        margin-left: 1rem;
        color: $gray;
    }
}

.search-form {
    text-align: left;
    height: 100%;
    padding-left: 1rem;
    border-top: 1px solid $black;
    @include bp(m) {
        padding-left: 0;
        border-top: 0;
        border-left: 1px solid lighten($black, 20);
        width: 50%;
    }
    .screen-reader-text {
        display: none;
    }
}

.search-field {
    font-size: 1.4rem;
    line-height: .8;
    font-family: $sans;
    appearance: none;
    padding-top: .6rem;
    width: 100%;
    background: transparent;
    @include bp(m) {
        padding-left: .6rem;
    }
    &:focus {
        outline: none;
        border-bottom-color: $black;
    }
    &::placeholder {
        color: $black;
    }
}

.search-submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    font-size: 0;
    background-image: url('/wp-content/themes/humboldt-theme/assets/search.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    background-position: center top .8rem;
    &:hover,
    &:focus {
        opacity: .6;
    }
}

div.search-results {
    padding: 1rem;
}

.page-header {
    padding: 1rem;
    font-size: calc(1.2rem + 3vw);
    p {
        color: $gray;
    }
}

.page-content {
    max-width: 70rem;
    font-size: calc(1rem + .2vw);
    p {
        margin-bottom: 1rem;
    }
}