{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
			{% block content %}
			Sorry, no content
			{% endblock %}
		{% block footer %}
			<footer class="site-footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		<script>
		function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
		var objects = "{{objects|join(',')}}";
		objects = objects.split(',')
		var searchField = document.querySelector('.search-field');
		searchField.setAttribute('placeholder', 'Suche "' + objects[getRandomInt(0, objects.length)] + '"')
		console.log(objects);
		</script>
		<script>
    {% include "./static/site.js" %}
	</script>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42590037-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-42590037-7');
</script>

	</body>
</html>
